* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#calculator {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;
    height: 580px;
    margin-top: 10vh;
    padding: 10px 10px;
    background-color: beige;
    border-radius: 10px;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 120px;
    width: 350px;
    border: 2px;
    border-radius: 5px;
    background-color: bisque;
    overflow: hidden;
    
}

#result {
    display: flex;
    align-items:  center;
    height: 25px;
    overflow: hidden;
    padding-right: 5px;
}

#display {
    display: flex;
    align-items: center;
    flex-grow: 1; 
    font-size: 40px;
    height: 25px;
    max-width: 340px;
    padding-right: 5px;
    
}
#buttons {
    display: grid;
    grid-gap: 7px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    
    
}

#equal {
    /* grid-row: 4; */
    /* grid-column: 3/5; */
}

.operator {
    background-color: rgb(201, 156, 238);
}

.option {
    background-color: rgb(245, 182, 234);
}

button {
    height: 80px;
    background-color: rgb(123, 181, 248);
    /* border: 1px solid; */
    border-radius: 5px;

}